.main-container {
  gap: 2rem;
  padding: 1rem;
}

/* Box styling for both sections */
.report-section,
.list-section {
  flex: 1 1 45%;
  min-width: 320px;
  padding: 1.5rem;
  background-color: #f4f8fb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top:10px;
}
.report-section-accordion{
   margin-top:10px;
   color: #f4f8fb;
}
/* Table styling */
.styled-table {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Header */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

/* Checkbox container */
.checkbox-container {
  margin-bottom: 1.5rem;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 0.5rem;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

/* Optional: add a hover or focus style for better UX */
mat-checkbox:hover {
  background-color: #f1f1f1;
}
