<header class="main-header">

  <div class="header-container">

    <!-- Logo -->
    <div class="logo" (click)="home()">
      <img src="assets/images/Nedcs logo.png" class="logo-img" />
      <span class="logo-text">
        READGOOD<span class="blue">BOOKS</span>
      </span>
    </div>

    <!-- Right Side -->
    <div class="right-section">

      <!-- Sign In -->
      <div
        *ngIf="!isLoggedIn"
        class="user-action-item sign-in"
        (click)="login()"
      >
        <mat-icon>login</mat-icon>
        <span>Sign In</span>
      </div>

      <!-- Logged In Menu -->
      <div class="user-actions" *ngIf="isLoggedIn">

        <ng-container *ngFor="let item of menuItems">

          <!-- Normal Items -->
          <div
            *ngIf="isMenuItemVisible(item) && item.label !== 'My Account'"
            class="user-action-item"
            (click)="item.action()"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </div>

          <!-- My Account (Dropdown) -->
        <div *ngIf="isMenuItemVisible(item) && item.label === 'My Account'"
          class="user-action-item account-item"
          (click)="userRole !== 2 ? goToAccount() : null"
        >

          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.label }}</span>

          <!-- Dropdown only for Customer -->
          <div
            class="account-modal"
            *ngIf="userRole === 2"
          >
            <ul>
              <li (click)="goToOrders(); $event.stopPropagation()">Orders</li>
              <li (click)="goToAddresses(); $event.stopPropagation()">Address</li>
              <li (click)="goToAccount(); $event.stopPropagation()">Account</li>
            </ul>
          </div>

        </div>

        </ng-container>

      </div>

    </div>

  </div>

</header>