<body>
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="social-icons">
      <mat-icon>facebook</mat-icon>
      <mat-icon>instagram</mat-icon>
      <mat-icon>twitter</mat-icon>
      <mat-icon>youtube</mat-icon>
    </div>
    <div class="helpline">
      Helpline: 033-41802100
    </div>
  </div>

  <!-- Main Header -->
  <header class="main-header">
    <div class="logo" (click)="home()">
  <img src="../../../assets/images/Nedcs logo.png" class="logo-img" alt="Logo" />
  <span class="logo-text">READGOOD<span class="blue">BOOKS</span></span>
</div>


    <div class="search-bar">
      <input type="text" placeholder="Search for Books, publishers and anything" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <div class="user-actions">
      <!-- Conditionally show My Account icon and Add to Cart -->
       <div *ngIf="isLoggedIn && isCustomer"
          class="user-action-item"
          (mouseenter)="showModal = true"
          (mouseleave)="showModal = false"
        >
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>

          <div class="account-modal" *ngIf="showModal">
            <div class="modal-content">
              <ul>
                <li (click)="goToOrders()">Orders</li>
                <li (click)="goToAddresses()">Address</li>
                <li (click)="goToAccount()">Account</li>
              </ul>
            </div>
          </div>
        </div>
      
       <div *ngIf="isLoggedIn && (isAdmin || isPublisher)"
          class="user-action-item"
          (click)="goToAccount()"
        >
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </div>


      <div *ngIf="isLoggedIn && showCartAndBooks" class="user-action-item" (click)="goToCart()">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </div>

     

      <div *ngIf="isLoggedIn" class="user-action-item" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </div>

      <div *ngIf="!isLoggedIn" (click)="login()" class="user-action-item">
        <mat-icon>login</mat-icon>
        <span>Sign In</span>
      </div>
    </div>
  </header>

  <!-- Navigation Bar -->
  <nav class="nav-links">
    <!-- Only show Books link for users with role 2 -->
    <a *ngIf="showCartAndBooks" href="#" (click)="home()">
      <mat-icon>book</mat-icon>
      <p>Books</p>
    </a>
    <!-- Add more links here if needed -->
  </nav>
</body>
