<footer>
  <div class="footer-container">
            <div class="footer-left">
                <h3>Get to Know us</h3>
                <ul>
                  <li><a routerLink="/about-us">About Us</a></li>
                    <li><a routerLink="/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-middle">
                <h3>Help & Support</h3>
                <ul>
                    <li><a routerLink="/payments">Payments</a></li>
                    <li><a>Shipping</a></li>
                    <li><a routerLink="/returnsandcancellation">Returns & Cancellation</a></li>
                    <li><a routerLink="/faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="footer-third">
                <h3>Terms</h3>
                <ul>
                   <li><a routerLink="/termsofUse">Terms of Use</a></li>
                    <li><a routerLink="/privacy-policy">Privacy & Policy</a></li>
                </ul>
              
               
               
            </div>
            <div class="footer-fourth">
                <h3>Payment Methods</h3>
                <div class="payment-icons">
                    <img src="../../../assets/images/payment5.png" alt="Visa">
                    <img src="../../../assets/images/payment2.png" alt="RuPay">
                    <img src="../../../assets/images/payment3.png" alt="UPI">
                    <img src="../../../assets/images/payment4.png" alt="Mastercard">
                    <img src="../../../assets/images/payment1.png" alt="Mastercard">
                </div>
            </div>
            <div class="footer-fifth">
               <h3>Categories</h3>
                <ul>
    <li><a >Biography & Autobiography</a></li>
    <li><a >History & Culture</a></li>
    <li><a >Philosophy & Religion</a></li>
    <li><a >Self-Help & Motivation</a></li>
    <li><a >Politics & Governance</a></li>
    <li><a >Economics & Business</a></li>
    <li><a >Science & Technology</a></li>
    <li><a >Health & Wellness</a></li>
    <li><a >Travel & Environment</a></li>
    <li><a >Philosophy, Religion and Governance</a></li>
</ul>
            </div>
            <div class="footer-sixth">
               <h3>Contact</h3>
               <p>nedtcs@gmail.com</p>
                <p>Dhakal Gown, Lower Syari, Jalipool, Ranipool</p>
                <p>Gangtok District, Sikkim - 737135</p>
                <p>Call: +91 9641430098</p> 
            </div>
        </div>
</footer>
